@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GESTIÓN DE PRODUCTOS</h1>

    <div class="mt-4">
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary me-2">Productos</a>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Categorías</a>
    </div>


</div>
